<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="3.1">

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controlador.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <!-- SERVLETS DE JUSTIFICACIONES Y ASISTENCIAS -->
    <servlet>
        <servlet-name>JustificacionServlet</servlet-name>
        <servlet-class>controlador.JustificacionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JustificacionServlet</servlet-name>
        <url-pattern>/JustificacionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AsistenciaServlet</servlet-name>
        <servlet-class>controlador.AsistenciaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AsistenciaServlet</servlet-name>
        <url-pattern>/AsistenciaServlet</url-pattern>
    </servlet-mapping>

    <!-- SERVLETS EXISTENTES -->
    <servlet>
        <servlet-name>AlumnoServlet</servlet-name>
        <servlet-class>controlador.AlumnoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AlumnoServlet</servlet-name>
        <url-pattern>/AlumnoServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TareaServlet</servlet-name>
        <servlet-class>controlador.TareaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TareaServlet</servlet-name>
        <url-pattern>/TareaServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ObservacionServlet</servlet-name>
        <servlet-class>controlador.ObservacionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ObservacionServlet</servlet-name>
        <url-pattern>/ObservacionServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>NotasPadreServlet</servlet-name>
        <servlet-class>controlador.NotasPadreServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>NotasPadreServlet</servlet-name>
        <url-pattern>/NotasPadreServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ObservacionesPadreServlet</servlet-name>
        <servlet-class>controlador.ObservacionesPadreServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ObservacionesPadreServlet</servlet-name>
        <url-pattern>/ObservacionesPadreServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TareasPadreServlet</servlet-name>
        <servlet-class>controlador.TareasPadreServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>TareasPadreServlet</servlet-name>
        <url-pattern>/TareasPadreServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>